.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 31.25rem 31.25rem 31.25rem 31.25rem;
  font-family: 'Arapey', serif;

  @include breakpoint-down(medium) {
    display: block;
  }
}
.biography {
  &__text {
    margin-top: 5rem;
    margin-left: 2rem;
    @include breakpoint-down(medium) {
      margin-top: 2rem;
      margin-left: 0px;
    }
  }
  &__video {
    height: 25vh;
  }
}
video {
  height: 50vh;
  margin-top: 5rem;
  @include breakpoint-down(medium) {
    width: 35vh;
    height: 35vh;
    margin-top: 0rem;
  }
}
#link {
  text-decoration: none;
  color: white;
  &_github {
    background-color: gray;
    width: 20rem;
    text-align: center;
    border-radius: 1.5rem;
  }
}

.my_skills {
  &_description {
    margin-top: 5rem;
    @include breakpoint-down(medium) {
      margin-top: 2rem;
      margin-left: 0px;
    }
  }
  &_languages {
    margin-top: 5rem;
    margin-left: 2rem;
    @include breakpoint-down(medium) {
      margin-top: 2rem;
      margin-left: 0px;
    }
  }
  &_first_project {
    margin-top: 5rem;
    @include breakpoint-down(medium) {
      margin-top: 2rem;
      margin-left: 0px;
    }
  }
  &_languages_first_project {
    margin-top: 5rem;
    margin-left: 2rem;
    @include breakpoint-down(medium) {
      margin-top: 2rem;
      margin-left: 0px;
    }
  }
}
