html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding-left: 3rem;
  padding-right: 3rem;
}

.header {
  width: 100%;
  position: relative;
}

.header__logo {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  font-family: 'Arapey', serif;
  font-size: small;
  width: 75%;
}

@media (max-width: 63.9375em) {
  .header__logo {
    width: 100%;
  }
}

.header .icon {
  display: inline-block;
  color: LightGrey;
  border: 1px solid LightGrey;
  border-radius: 50%;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-left: 2rem;
}

.header .fa-github:hover {
  color: Black;
}

.header .fa-linkedin-in:hover {
  color: #006cc4;
}

.header .fa-instagram:hover {
  color: #ca00af;
}

.header__divisionline > span {
  display: block;
  position: relative;
  background-color: LightGrey;
  width: 40%;
  height: 3px;
  margin-left: 50%;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 31.25rem 31.25rem 31.25rem;
      grid-template-rows: 31.25rem 31.25rem 31.25rem;
  font-family: "Arapey", serif;
  font-size: 1.5rem;
}

@media (max-width: 63.9375em) {
  .content {
    display: block;
  }
}

.biography__text {
  margin-top: 5rem;
  margin-left: 2rem;
}

@media (max-width: 63.9375em) {
  .biography__text {
    margin-top: 15rem;
    margin-left: 0px;
  }
}

@media (max-width: 39.9375em) {
  .biography__text {
    margin-top: 5rem;
    margin-left: 0px;
  }
}

.biography__video {
  height: 25vh;
}

.video {
  height: 50vh;
  margin-top: 5rem;
}

@media (max-width: 39.9375em) {
  .video {
    width: 38vh;
    height: 30vh;
    margin-top: 2rem;
  }
}

.link {
  text-decoration: none;
  color: white;
}

.link_github {
  background-color: gray;
  width: 20rem;
  text-align: center;
  border-radius: 1.5rem;
}

@media (max-width: 63.9375em) {
  .link_github {
    position: relative;
    margin: 0 auto;
  }
}

.skills_implemented {
  background-color: gray;
  width: 20rem;
  text-align: center;
  border-radius: 1.5rem;
}

.my_skills_description {
  margin-top: 5rem;
}

@media (max-width: 63.9375em) {
  .my_skills_description {
    margin-top: 2rem;
    margin-left: 0px;
  }
}

.my_skills_languages {
  margin-top: 5rem;
  margin-left: 2rem;
}

@media (max-width: 63.9375em) {
  .my_skills_languages {
    margin-top: 2rem;
    margin-left: 0px;
  }
}

.my_skills_first_project {
  margin-top: 5rem;
}

@media (max-width: 63.9375em) {
  .my_skills_first_project {
    margin-top: 2rem;
    margin-left: 0px;
  }
}

.my_skills_languages_first_project {
  margin-top: 5rem;
  margin-left: 2rem;
}

@media (max-width: 63.9375em) {
  .my_skills_languages_first_project {
    margin-top: 2rem;
    margin-left: 0px;
    position: relative;
  }
}

.button_projects {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px solid 0, 0, 0, 0.5;
  -webkit-box-shadow: 2px 2x 10px 0, 0, 0, 0.5;
          box-shadow: 2px 2x 10px 0, 0, 0, 0.5;
  background-color: white;
  border-color: grey;
  color: black;
  text-decoration: none;
}

.button_projects:hover {
  background-color: grey;
}

.projects {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (max-width: 39.9375em) {
  .carts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: block;
    padding-left: 0.5rem;
  }
}

.cart {
  text-align: center;
  padding: 50px;
  color: black;
  margin: 12px;
  border-radius: 15px;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/andresgaviriaPortafolio/software-developer.jpg");
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/andresgaviriaPortafolio/software-developer.jpg");
}

@media (max-width: 39.9375em) {
  .cart {
    margin-left: 0%;
    text-align: center;
    color: black;
    border-radius: 15px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/andresgaviriaPortafolio/software-developer.jpg");
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/andresgaviriaPortafolio/software-developer.jpg");
  }
}

.footer {
  margin: auto;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */